.choices {
    position: relative;
    display: inline-block;
    width: 260px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0 auto
}

.closedChoices {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: rgb(240, 240, 240);
    padding: 10px 10px 10px 15px;
    border: 1px black solid;
    border-radius: 5px
}
.closedChoices:hover {
    background: rgb(200, 200, 255)
}

.noChosen {
    color: grey
}
.chosen {
    color: black
}

.arrows {
    display: inline-block
}

.showArrowDown {
    display: block
}
.hideArrowDown {
    display: none
}

.arrowImg {
    width: 16px
}

.hideArrowUp {
    display: none
}
.showArrowUp {
    display: block
}

.hideOpenedChoices {
    display: none
}

.showOpenedChoices {
    position: absolute;
    left: 0;
    display: block;
    z-index: 1;
    background: rgb(240, 240, 240);
    height: 185px;
    width: 258px;
    overflow: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid
}
.showOpenedChoices:hover {
    cursor: pointer
}

.openedChoice {
    padding: 10px 0 10px 15px
}
.openedChoice:hover {
    background: rgb(200, 200, 255)
}

.openedActiveChoice {
    background: black;
    color: white
}
.openedActiveChoice:hover {
    background: rgb(100, 100, 255);
    color: black
}